PhoneApp1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52303/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="UserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetails" nillable="true" type="tns:UserDetails" />
  <xs:complexType name="ArrayOfUsersTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsersTable" nillable="true" type="tns:UsersTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsersTable" nillable="true" type="tns:ArrayOfUsersTable" />
  <xs:complexType name="UsersTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="UserName" nillable="true" type="q1:Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersTable" nillable="true" type="tns:UsersTable" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>